
body{
margin: 0px;
text-align: center;
font-family: 'Merriweather Sans', sans-serif;
font-style: normal;
color: #40514E;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.625rem;
  margin: 50px auto 0 auto;

}

a{
  color: #40514E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: white;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: white;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 2;
}
hr{
  border: dotted #77acf1 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.profile_img{
  width: 10%;
}


.top-container{
background-color: #77acf1;
position: relative;
padding-top: 100px;
}

.middle-container{
  padding-top:20px;
}

.bottom-container{
  background-color: #77acf1;
  padding: 100px 0 20px;
}

.skill-row{
  width: 50%;
  margin: 80px auto 100px auto;
  text-align: left;

}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.profile{
  margin: 20px auto 100px auto;
}

.intro{
  width: 30%;
  margin: auto;
}
.header-images1{
  width: 40%;
  float: left;
  margin-right: 30px;

}
.header-images2{
  width: 35%;
  float: right;
  margin-left: 30px;

}

.top-cloud{
  position: absolute;
  top: 45px;
  right: 400px;
}

.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 400px;
}
.copyright{
  color: white;
  font-size: 0.85rem;
  padding: 20px 0px;
}
.btn {
	box-shadow: 0px 10px 14px -7px #3ab4c7;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  margin: 50px auto;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}
