
body{
margin: 0px;
text-align: center;
font-family: 'Merriweather Sans', sans-serif;
font-style: normal;
color: #40514E;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 4.625rem;
  margin: 50px auto 0 auto;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #77acf1;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 2;
}
hr{
  border: dotted #77acf1 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.profile_img{
  width: 10%;
}


.top-container{
background-color: #77acf1;
position: relative;
padding-top: 100px;
}

.middle-container{
  padding-top:20px;
}

.skill-row{
  width: 50%;
  margin: 80px auto 200px auto;
  text-align: left;

}


.profile{
  margin: 20px auto 100px auto;
}

.intro{
  width: 30%;
  margin: auto;
}
.header-images1{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.header-images2{
  width: 25%;
  float: right;
  margin-left: 30px;

}

.top-cloud{
  position: absolute;
  top: 45px;
  right: 400px;
}

.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 400px;
}
